.game-settings-menu-form-container {
  width: 100%;
  height: 100%;

  padding: 3rem 2rem;
  padding-top: 0;
  margin-bottom: 3rem;
}

#game-settings-menu-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#game-settings-menu-form .title {
  font-size: 1.2rem;
  font-weight: bold;
}

#game-settings-menu-form #game-settings-options {
  margin-bottom: 1rem;
}

#game-settings-menu-form select.main {
  background: var(--color-lighter);
  height: 3rem;
}

#game-settings-menu-form select {
  width: 100%;
  height: 2.25rem;
  background: var(--color-light);
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 0 1rem;

  font-size: 1rem;
}

#game-settings-menu-form select option {
  font-size: 1rem;
}

#game-settings-menu-form label {
  cursor: pointer;
  padding-right: 0.5rem;

  display: flex;
  align-items: center;
  margin-top: 0.7rem;
}

#game-settings-menu-form input {
  background-color: var(--color-light);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--card-border-color);

  font-size: 1rem;
}

#game-settings-menu-form input.error {
  border: 1px solid var(--error-color);
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

#game-settings-menu-form .custom-checkbox {
  display: flex;
  justify-content: space-between;
}

#game-settings-menu-form .custom-checkbox .toggle {
  display: none;
}

#game-settings-menu-form .custom-checkbox .toggle,
#game-settings-menu-form .custom-checkbox .toggle:after,
#game-settings-menu-form .custom-checkbox .toggle:before,
#game-settings-menu-form .custom-checkbox .toggle *,
#game-settings-menu-form .custom-checkbox .toggle *:after,
#game-settings-menu-form .custom-checkbox .toggle *:before,
#game-settings-menu-form .custom-checkbox .toggle + .toggle-button {
  box-sizing: border-box;
}

#game-settings-menu-form .custom-checkbox .toggle::-moz-selection,
#game-settings-menu-form .custom-checkbox .toggle:after::-moz-selection,
#game-settings-menu-form .custom-checkbox .toggle:before::-moz-selection,
#game-settings-menu-form .custom-checkbox .toggle *::-moz-selection,
#game-settings-menu-form .custom-checkbox .toggle *:after::-moz-selection,
#game-settings-menu-form .custom-checkbox .toggle *:before::-moz-selection,
#game-settings-menu-form
  .custom-checkbox
  .toggle
  + .toggle-button::-moz-selection,
#game-settings-menu-form .custom-checkbox .toggle::selection,
#game-settings-menu-form .custom-checkbox .toggle:after::selection,
#game-settings-menu-form .custom-checkbox .toggle:before::selection,
#game-settings-menu-form .custom-checkbox .toggle *::selection,
#game-settings-menu-form .custom-checkbox .toggle *:after::selection,
#game-settings-menu-form .custom-checkbox .toggle *:before::selection,
#game-settings-menu-form .custom-checkbox .toggle + .toggle-button::selection {
  background: none;
}

#game-settings-menu-form .custom-checkbox .toggle + .toggle-button {
  outline: 0;
  display: block;
  width: 5em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border: 1px solid var(--card-border-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-size: 1rem;

  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.2s ease;
  background: var(--color-lighter);
}

#game-settings-menu-form .custom-checkbox .toggle + .toggle-button:hover {
  border: 1px solid var(--accent-color);
}

#game-settings-menu-form .custom-checkbox .toggle + .toggle-button:after,
#game-settings-menu-form .custom-checkbox .toggle + .toggle-button:before {
  position: absolute;
  /* content: ''; */
  height: 100%;
  width: 100%;

  font-weight: bold;

  transition: all 0.2s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

#game-settings-menu-form .custom-checkbox .toggle + .toggle-button:after {
  left: 100%;
  content: attr(data-tg-on);
}

#game-settings-menu-form .custom-checkbox .toggle + .toggle-button:before {
  left: 0;
  content: attr(data-tg-off);
}
#game-settings-menu-form .custom-checkbox .toggle + .toggle-button:active {
  border: 1px solid var(--card-border-color-active);
}
#game-settings-menu-form
  .custom-checkbox
  .toggle
  + .toggle-button:active:before {
  left: -10%;
}
#game-settings-menu-form
  .custom-checkbox
  .toggle:checked
  + .toggle-button:before {
  left: -100%;
}
#game-settings-menu-form
  .custom-checkbox
  .toggle:checked
  + .toggle-button:after {
  left: 0;
}
#game-settings-menu-form
  .custom-checkbox
  .toggle:checked
  + .toggle-button:active:after {
  left: 10%;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
